[submodule "122/sfml-first-repo"]
	path = 122/sfml-first-repo
	url = https://github.com/TheTerrarian03/sfml-first-repo.git
[submodule "122/PAs/SFML_PA_9"]
	path = 122/PAs/SFML_PA_9
	url = https://github.com/grayson-fougere/SFML_PA_9.git
